/* html {
  box-sizing: border-box;
  background: grey;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
} */
/* 
body{
margin: 0;
background-color: grey;
} */

/* *, *:before, *:after {
  box-sizing: inherit;
}

.site-wrap {
  max-width: 700pxo;
  background:grey;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

.fixed-nav .site-wrap {
  transform: scale(1);
}

.main {
  text-align: center;
  height: 50vh;
  background-image: url(../images/news.jpg); bottom center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* h1 {
  color: white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
}

nav {
  background: black;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav nav{
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

.fixed-nav li.logo {
  max-width: 500px;
}

li.logo a {
  color: black;
}

nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: grey;
  transition: all 0.2s;
  text-transform: uppercase;
}
.news {
  background-image: linear-gradient(to top, #93a5cf 0%, #e4efe9 100%);
  background-image: -webkit-linear-gradient(left, #93a5cf, #e4efe9);
  background: -webkit-linear-gradient( #93a5cf, #e4efe9);
  background: linear-gradient(135deg, #93a5cf, #e4efe9);
} */


light: #FAFAFA;
$dark: #333030;
$medium: #B0B0B0;
$imageURl: "https://source.unsplash.com/89PFnHKg8HE";

body {
  font-family: 'Lato', sans-serif;
  letter-spacing: .6em;
  line-height: 1.3em;
  
  .heading {
    text-transform: uppercase;
    text-align: center;
  }
.nav-main {
  top: 0;
  position: fixed;
  width: 100%;
  margin: 0;
  box-shadow: 1px 1px 10px; 
  
  ul {
    list-style-type: none;
    background: hsl(0, 0%, 15%);
    padding: 0px;
    margin: 0px;
    
   li {
     svg {
      color: $light;
      padding: .3em;
      margin-left: .5em;
     }
    }
   }
    a {
      color: $light;
      display: block;
      padding: 2em 2.5em;
      text-decoration: none;
      text-transform: uppercase;
    }
    a:hover {
      background: hsl(0, 0%, 25%);
    }
}
  
.hero {

  height: 20em;
  width: 100%;
  background-image: url($imageURl);
  background-size: cover;
  box-shadow: 1px 1px 10px; 
  .masthead-wrap {
     padding-top: 7em;
    .title  {
      background-color: hsla(0, 5%, 36%, 0.80);
      padding: 1em;
      text-align: center;
      color: $light;
      text-transform: uppercase;
   
    }   
  }
}
}


@media screen and ( min-width: 500px){
  .nav-main {

    // padding: .5em .5em;

    ul  {
      display: flex;
      flex: wrap;
      justify-content: space-between;
    }

    div {
      display: flex;
      justify-content: space-between;
      li {
        text-align: center;
        flex: 1 0 auto;
      }
     a {
        color: $light;
      }
    }
    
   }
 }
