
  <h1>Coverage you can count on </h1>


  <body>
      <nav class="nav-main">
        <ul>
          <li>
            <i class="fas fa-adjust fa-3x"></i>
          </li>
          <div>
            <li>
              <a href="#bang">Bang</a>
            </li>
             <li>
              <a href="#boom">Boom</a>
            </li>
             <li>
              <a href="#kboom">Kboom</a>
            </li>    
          </div>
        </ul>
      </nav>
    <div class="hero">
      <div class="masthead-wrap">
        <h1 class="title">Batman</h1>
      </div>
    </div>
  </body>